.login-main {
  width: 450px;
  display: table;
  margin: auto;
  clear: both;
  padding: 20px 0px;
  min-height: 581px; }
  .login-main h1 {
    position: relative;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 37px; }
  .login-main h1:after {
    width: 135px;
    height: 2px;
    position: absolute;
    content: '';
    background: #0075c0;
    left: 0px;
    bottom: -15px; }
  .login-main .login-title {
    position: relative;
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 22px;
    margin-top: 12px; }
  .login-main .login-title::after {
    width: 135px;
    height: 2px;
    position: absolute;
    content: '';
    background: #0075c0;
    left: 0px;
    bottom: -9px; }
  .login-main label {
    font-weight: normal;
    font-size: 16px; }
  .login-main input, .login-main select {
    border: 1px solid #aaa; }
  .login-main input[type=submit], .login-main button[type=submit], .login-main a.back-btn {
    background: #0075c0;
    border-radius: 5px;
    border: none;
    width: 293px;
    height: 53px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    display: inherit;
    margin-top: 40px; }
  .login-main .login-main input[type=submit], .login-main .login-main button[type=submit], .login-main .login-main a.back-btn, .login-main .ar-login-btn {
    background: #0075c0;
    border-radius: 5px;
    border: none;
    width: 293px;
    height: 53px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    display: inherit;
    margin-top: 40px; }
  .login-main .login-main button[type=submit] i, .login-main .login-main a.back-btn i {
    font-size: 18px;
    margin-left: 5px; }
  .login-main .form-group {
    margin-bottom: 15px; }
    .login-main .form-group .backtologin, .login-main .form-group .resetpswd {
      width: 49%; }
      .login-main .form-group .backtologin .back-btn, .login-main .form-group .resetpswd .back-btn {
        width: auto !important;
        line-height: 50px;
        text-decoration: none; }
  .login-main .first-name {
    padding-right: 5px; }
  .login-main .last-name {
    padding-left: 5px; }
  .login-main .required {
    color: red; }

.forgot-password {
  padding: 20px 0px 30px;
  font-size: 15px; }
  .forgot-password a {
    color: #444444;
    text-decoration: underline; }

.terms {
  margin-top: 8px;
  margin-bottom: 18px; }
  .terms a {
    text-decoration: none;
    color: #0075c0; }
  .terms input {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px; }

.login-title {
  position: relative;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 22px;
  margin-top: 12px; }

.login-title::after {
  width: 135px;
  height: 2px;
  position: absolute;
  content: '';
  background: #0075c0;
  left: 0px;
  bottom: -9px; }

.login-main-policy {
  display: table;
  width: 100%;
  padding: 20px 0px; }

.member-section {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 8px 0px 20px;
  padding: 0px; }
  .member-section .member-section-title {
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 10px 15px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    background: #f5f5f5; }
  .member-section .form-group {
    margin-bottom: 15px; }
  .member-section .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #dce4ec;
    border-radius: 4px; }
  .member-section label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold; }
  .member-section .term-policy-div {
    display: block;
    padding: 0px 15px 15px;
    clear: both; }

.premium-btn {
  width: 170px !important;
  height: 46px !important;
  margin-top: 0px !important;
  float: right;
  background: #0075c0;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  display: inherit; }

.sucess-btn {
  color: #ffffff !important;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important; }

.danger-btn {
  color: #ffffff !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important; }

.big-btn {
  background: #0075c0;
  border-radius: 5px;
  border: none;
  width: auto !important;
  height: 53px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: inline-block !important;
  margin-top: 20px;
  vertical-align: top;
  margin: inherit !important;
  margin-right: 10px !important;
  padding: 0px 30px; }

.banner-image {
  margin-bottom: 50px; }

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 95%; } }
@media screen and (max-width: 1170px) {
  .wrapper {
    width: 90% !important; }

  footer {
    padding: 20px 0px; }
    footer p {
      display: block; }
    footer .Address {
      margin-left: 0px;
      display: block;
      text-align: center;
      padding: 10px 0px; }
    footer #social {
      float: none; }
      footer #social a {
        height: auto; } }
@media screen and (max-width: 1024px) {
  .half {
    width: 100% !important;
    display: block; }

  input.half {
    margin-top: 20px; }

  .login-left {
    display: none; }

  .login-right {
    width: 100%; }

  .login-outer {
    float: none;
    display: table;
    margin: 150px auto 100px !important; }

  .payment {
    margin-top: 70px !important; }

  .login-left.subscibe {
    display: block;
    width: 100%;
    text-align: center; }

  .yearly-plan {
    width: 100%; }

  .billing, .subs-box {
    margin-bottom: 15px; }

  .dash-content.payment {
    margin-top: 0px !important; }

  .plan {
    padding: 10px 24px; }

  .plan h2 {
    font-size: 27px; }

  .plan h2 span {
    font-size: 20px; }

  .annual-plan h2 {
    font-size: 24px; }

  .plan-option {
    width: 37% !important; }

  .banner-image {
    width: 90%; } }
@media screen and (max-width: 767px) {
  .login-main {
    width: 400px;
    margin: 100px auto 10px !important; }
    .login-main h1 {
      font-size: 30px; }
    .login-main .first-name {
      padding-right: 15px; }
    .login-main .last-name {
      padding-left: 15px; }

  .login-title {
    width: 100%;
    float: left; }

  .plan-info {
    width: 100%; }

  .plan {
    width: 48%;
    margin-bottom: 20px; }

  .free-trail .form-group {
    margin: 0px;
    margin-bottom: 20px; }

  .free-trail .form-group .col-sm-6, .free-trail .form-group .col-sm-12 {
    padding: 0px; }

  .member-section {
    width: 100%;
    float: left; }

  .signup {
    width: 100%; } }
@media screen and (max-width: 450px) {
  .input-row input[type=text], .input-row input[type=password], .input-row select {
    width: 80%; }

  .nav li a {
    margin: 0px; }

  .nav li a.login {
    padding: 7px 11px; }

  .small-input {
    width: 100%;
    float: none !important; }

  .header {
    padding-top: 55px; }

  .Phone-no {
    margin-top: -55px; }

  .login-main {
    display: table;
    width: 85%; }

  .login-main input[type=submit], .login-main button[type=submit], .login-main a.back-btn {
    width: 100%;
    margin-top: 20px;
    font-size: 17px; }

  .backtologin, .resetpswd {
    width: 100%; }

  .plan-info, .plan {
    width: 100%;
    display: table; }

  .sucess-btn, .danger-btn {
    margin-bottom: 20px !important;
    width: 100% !important; } }
/** http://beta.aestheticrecord.com/signup-premium **/
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer;
  outline: none; }

img {
  max-width: 100%; }

body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  background-attachment: fixed;
  background-size: cover; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", sans-serif; }

.wrapper {
  width: 1140px;
  margin: auto; }

.no-display {
  display: none; }

.full-width {
  width: 100% !important; }

/*# sourceMappingURL=index.css.map */
